<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>

	<div class="container">
		<p class="lead">Welcome, to Shared Lunch!</p>
		<div class="header-bar">
			<h1 class="logo">Shared Lunch</h1>
			<ul class="slider-menu">
				<nav class="display-flex justify-space-between align-center">
					<a href="/" class="nav-style">Home</a>
					<!-- {{#if logged_in}} -->
					  <a href="/homepage" class="nav-style" id="logout">Logout</a>
					<!-- {{else}} -->
					  <a href="/login" class="nav-style">Login</a>
					  <a href="/login" class="nav-style">Signup</a>
					<!-- {{/if}}
					{{#if logged_in}} -->
					  <a href="/dashboard" class="nav-style">Dashboard</a>
					  <!-- {{else}} -->
					  <a href="/login" class="nav-style">Dashboard</a>
					<!-- {{/if}} -->
				</nav>
			</ul>
		</div>
	</div>
</header>
<main>
	{{{body}}}
</main>	
	<footer>
		<p>2023 Shared Lunch. All rights reserved.</p>
	</footer>
</body>
</html>