<!DOCTYPE html>
<html>
<head>
    <title>Shared Lunch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<h1 class="lead">Shared Lunch</h1>
			<p>{{formatDate}}</p>
			<div class="header-bar justify">
					<nav class="display-flex justify-space-between align-center">
						<a href="/">Home</a>
						{{#if logged_in}}
						<a href="/" class="logout-form">Logout</a>
						{{else}}
						<a href="/login" class="login-form">Login</a>
						{{/if}}
						{{#if logged_in}}
						<a href="/dashboard">Dashboard</a>
						{{else}}
						<a href="/login" class="login-form">Dashboard</a>
						{{/if}}
					</nav>
			</div>
		</div>
	</header>
	<main>
		{{{body}}}
	</main>
	<footer>
		<p>2023 Shared Lunch. All rights reserved.</p>
	</footer>
	  <!-- Render script for logged in users only -->
	{{#if logged_in}}
	<script src="/js/logout.js"></script>
	{{/if}}
</body>

</html>