<!-- new-post handlebars -->
<div class="card-container">
	<div class="wrapper">

		<div class="card-container">
			<div class="wrapper">
				<!-- title of blog -->
				<p>Post Title:</p>
				<textarea id="title" placeholder="Name your post..."></textarea>
				<!-- Food provider name -->
				<p>Food Provider<br /></p>
				<textarea id="name" placeholder="Company/contact name..."></textarea>
				<!-- contact info? -->
				<p>Food Info<br /></p>
				<textarea id="contact" placeholder="Who/how to contact..."></textarea>
				<!-- description -->
				<p>Description<br /></p>
				<textarea id="content" placeholder="Describe your food..."></textarea>
				<div class="button-wrapper">
					<button type="submit" class="btn outline" id="new-post">Post it!</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/new-post.js"></script>