<!-- new-post handlebars -->
<div class="card-container">
	<div class="wrapper">

		<div class="card-container">
			<div class="wrapper">
				<!-- Provider Name -->
				<p>Food Provider</p>
				<textarea id="name" placeholder="Organization name..."></textarea>
				<!-- Donation info -->
				<p>Food Info<br /></p>
				<textarea id="content" placeholder="Tell us about your donation..."></textarea>
				<p>Contact Info<br /></p>
				<textarea id="contact" placeholder="Contact info..."></textarea>
				<div class="button-wrapper">
					<button type="submit" class="btn outline" id="new-post">Post it!</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/new-post.js"></script>