@import url('https://fonts.googleapis.com/css?family=Parisienne%7CQuicksand&display=swap');
html, body {
  background-color:  #D4F1F4;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
#card-color {
  background-color: #E2DFDF;
}
.lead
 { font-family: American Typewriter, serif;
  font-size: 72px;
}
.header-bar {
  position: relative;
  width: 75%;
  min-width: 300px;
  height: 50px;
  border: 10px solid transparent;
  border-top: 10px solid #05445E;
  border-left: 10px solid #05445E;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30%;
  height: 49px;
  border: 10px solid transparent;
  border-bottom: 10px solid #05445E;
  border-right: 10px solid #05445E;
  transition: 0.3s linear all;
}
a {
  display: flex;
  flex-direction: row;
  color:#05445E;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-bar > .logo {
  position: absolute;
  top: calc(50% - 18px);
  transform: translateY(-50%);
  color: #fffc;
  cursor: default;
  user-select: none;
  opacity: 20%;
}
img {
 max-width: 50px;
 max-height: 50px;
}
.slider-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.slider-menu > li {
  display: inline-flex;
  padding: 14px;
  margin-left: 2px;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear all;
  user-select: none;
}
.slider-menu > li:hover {
  color: #faa;
  box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
.aeu-signature {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  line-height: 30px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.aeu-signature { font-family: "Quicksand"; }
.aeu-signature > img { height: 30px; }
.nav-style {
    color:#000;
    background-color: rgba(255,255,255,0.98);
    padding: 10px;
  border-radius: 10px;
  }


/* Card */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.card-container {
  backdrop-filter: blur(16px) saturate(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%);
  linear-gradient(to bottom right,  rgb(249, 248, 235), rgb(167, 215, 197), rgb(116, 180, 155), rgb(92, 141, 137));
  border-radius: 12px;
  padding: 5px;
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  margin: 10%;
  background-color:white;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right,  rgb(144, 207, 202), rgb(56, 233, 165), rgb(100, 167, 255), rgb(37, 135, 247));
}
h1{
  font-family: 'Righteous', sans-serif;
  color:#05445E;
  text-transform: uppercase;
  font-size: 2.4rem;
}
h2{
  margin-top: 50px;
  color:#05445E;
  font-weight:bold;
}
p {
  color: #05445E;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight:1000;
}
 #larger-text{
  font-size:30px;
 }
.button-wrapper{
  margin-top: 18px;
}
.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}
.btn + .btn {
  margin-left: 10px;
}
.outline {
  background: transparent;
  color: rgb(249, 248, 235);
  border: 1px solid rgb(249, 248, 235);
  transition: all .3s ease;
}
.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;
}
.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease;
}
.fill:hover{
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;
}


10:59
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #C4C3CA;
    background-color: rgb(249, 248, 235);
  overflow-x: hidden;
      background-size: cover;
}
a {
  cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
  text-decoration: none;
}
.link {
  color: #C4C3CA;
}
.link:hover {
  color: rgb(167, 215, 197);
}
h4 {
    color: white;
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  color:#05445E
}
img {
  resize: 100%;
display: block;
justify-content: center;
align-items: center;
}
#img-set {
  height: auto;
  max-width: auto;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: rgb(167, 215, 197);
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: rgb(167, 215, 197);
  background-color:  rgb(92, 141, 137);
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}
.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front {
  width: 100%;
  height: 100%;
  background-color: rgb(92, 141, 137);
  background-image: url('https://user-images.githubusercontent.com/118077000/228269037-31712295-5b84-41cc-88e7-1e9311412c51.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 135%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
    width: 100%;
    height: 100%;
    background-color: rgb(167, 215, 197);
    background-image: url('https://user-images.githubusercontent.com/118077000/228269037-31712295-5b84-41cc-88e7-1e9311412c51.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 135%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}
.form-group{
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #C4C3CA;
  background-color: #1F2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: rgb(167, 215, 197);
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-ms-input-placeholder  {
  color: #C4C3CA;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #C4C3CA;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #C4C3CA;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #C4C3CA;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.btn{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: rgb(167, 215, 197);
  color:rgb(92, 141, 137);
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{
  background-color: rgb(92, 141, 137);
  color: rgb(167, 215, 197);
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{
  background-color: rgb(249, 248, 235);
  color: rgb(92, 141, 137);
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
}